/**
 * Created by Sushant Gauchan
 * Email : sushant.gauchan11@gmail.com
*/

@import "components/fonts_and_colors";

/*------------------------------------ Site Wide Starts -----------------------------------*/
/*------------------------------------- Site Wide Ends ------------------------------------*/

/*--------------------------------- Header Wrapper Starts ---------------------------------*/
/*--------------------------------- Header Wrapper Starts ---------------------------------*/

/*----------------------------------- Navigation Starts -----------------------------------*/
/*------------------------------------ Navigation Ends ------------------------------------*/

/*-------------------------------- Content Wrapper Starts ---------------------------------*/
/*--------------------------------- Content Wrapper Ends ----------------------------------*/

/*--------------------------------- Footer Wrapper Starts ---------------------------------*/
/*---------------------------------- Footer Wrapper Ends ----------------------------------*/

/*----------------------------------- Components Starts -----------------------------------*/
/*------------------------------------ Components Ends ------------------------------------*/

/*-------------------------------------- Modal Starts -------------------------------------*/
/*--------------------------------------- Modal Ends --------------------------------------*/

/*---------------------------------- Slick Slider Starts ----------------------------------*/
/*----------------------------------- Slick Slider Ends -----------------------------------*/

/*------------------------------------ Animation Starts -----------------------------------*/
/*------------------------------------- Animation Ends ------------------------------------*/


@media all and (max-width: 1800px) {

  /*------------------------------------ Site Wide Starts -----------------------------------*/
  .custom-container {
    padding: 34px 150px;
  }

  /*------------------------------------- Site Wide Ends ------------------------------------*/

  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  #header-wrapper {
    .bottom-header-section {
      .logo-nav-wrapper {
        .nav-container {
          &>ul {
            &>li {
              &:not(:last-of-type) {
                margin-right: 15px;
              }
            }
          }
        }
      }
    }
  }

  /*--------------------------------- Header Wrapper Starts ---------------------------------*/

  /*----------------------------------- Navigation Starts -----------------------------------*/
  /*------------------------------------ Navigation Ends ------------------------------------*/

  /*-------------------------------- Content Wrapper Starts ---------------------------------*/
  #content-wrapper {
    #home-page {
      .button-section {
        .button-wrapper {
          ul {
            li {
              button {
                padding: 15px 30px;
              }
            }
          }
        }
      }
    }
  }

  /*--------------------------------- Content Wrapper Ends ----------------------------------*/

  /*--------------------------------- Footer Wrapper Starts ---------------------------------*/
  #footer-wrapper {}

  /*---------------------------------- Footer Wrapper Ends ----------------------------------*/

  /*----------------------------------- Components Starts -----------------------------------*/
  .common-banner-section {
    .banner-slider {
      .common-banner-item-wrapper {
        .common-banner-item {
          .text-container {
            .inner {
              .title {
                h5 {
                  font-size: 15px;
                }
              }
            }
          }
        }
      }
    }
  }

  /*------------------------------------ Components Ends ------------------------------------*/

  /*-------------------------------------- Modal Starts -------------------------------------*/
  /*--------------------------------------- Modal Ends --------------------------------------*/

  /*---------------------------------- Slick Slider Starts ----------------------------------*/
  /*----------------------------------- Slick Slider Ends -----------------------------------*/

  /*------------------------------------ Animation Starts -----------------------------------*/
  /*------------------------------------- Animation Ends ------------------------------------*/
}

@media all and (max-width: 1600px) {

  /*------------------------------------ Site Wide Starts -----------------------------------*/
  .custom-container {
    padding: 35px 70px;
  }

  a {
    font-size: 16px;
  }

  h5 {
    font-size: 18px;
  }

  h4 {
    font-size: 17px;
  }

  /*------------------------------------- Site Wide Ends ------------------------------------*/

  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  #header-wrapper {}

  /*--------------------------------- Header Wrapper Starts ---------------------------------*/

  /*----------------------------------- Navigation Starts -----------------------------------*/
  /*------------------------------------ Navigation Ends ------------------------------------*/

  /*-------------------------------- Content Wrapper Starts ---------------------------------*/
  #content-wrapper {
    #home-page {
      .savapati-sandesh-section {
        .image-text-container {
          .image-container {
            img {
              object-fit: cover;
            }
          }
        }
      }

      .national-people-section {
        .section-title {
          margin-bottom: 45px;

          h4 {
            font-size: 20px;
          }
        }

        .national-people-wrapper {
          .nation-people-item {
            .inner {
              .image-container {
                width: 100px;
              }
            }
          }
        }
      }

      .button-section {
        .button-wrapper {
          ul {
            li {
              button {
                padding: 10px 20px;
              }
            }
          }
        }
      }


    }
  }

  /*--------------------------------- Content Wrapper Ends ----------------------------------*/

  /*--------------------------------- Footer Wrapper Starts ---------------------------------*/
  #footer-wrapper {}

  /*---------------------------------- Footer Wrapper Ends ----------------------------------*/

  /*----------------------------------- Components Starts -----------------------------------*/
  .common-banner-section {
    .banner-slider {
      .common-banner-item-wrapper {
        .common-banner-item {
          .image-container {
            img {
              object-fit: cover;
            }
          }
        }
      }
    }
  }

  .common-notice-container {
    .common-detail {
      .notice-wrapper {
        .notice-item {
          &:nth-of-type(3) {
            display: none;
          }
        }
      }
    }
  }

  /*------------------------------------ Components Ends ------------------------------------*/

  /*-------------------------------------- Modal Starts -------------------------------------*/
  /*--------------------------------------- Modal Ends --------------------------------------*/

  /*---------------------------------- Slick Slider Starts ----------------------------------*/
  /*----------------------------------- Slick Slider Ends -----------------------------------*/

  /*------------------------------------ Animation Starts -----------------------------------*/
  /*------------------------------------- Animation Ends ------------------------------------*/
}


@media all and (max-width: 1399px) {
  /*------------------------------------ Site Wide Starts -----------------------------------*/
  /*------------------------------------- Site Wide Ends ------------------------------------*/

  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  // #header-wrapper {
  //   .bottom-header-section {
  //     .nav-container {
  //       display: none;
  //     }

  //     .bottom-header-container {
  //       .logo-nav-wrapper {
  //         .mobile-nav-toggle {
  //           display: block;

  //           span {
  //             display: block;
  //             width: 20px;
  //             height: 3px;
  //             background-color: #fff;
  //             -webkit-transition: all 0.5s ease-in-out;
  //             transition: all 0.5s ease-in-out;

  //             &:not(:last-of-type) {
  //               margin-bottom: 5px;
  //             }
  //           }

  //           &.openToggle {
  //             span {
  //               &:first-of-type {
  //                 margin: 0;
  //                 transform: translateY(1px) rotate(45deg);
  //               }

  //               &:last-of-type {
  //                 transform: translateY(-2px) rotate(-45deg);
  //               }
  //             }
  //           }
  //         }
  //       }
  //     }
  //   }
  // }


  /*--------------------------------- Header Wrapper Starts ---------------------------------*/

  /*----------------------------------- Navigation Starts -----------------------------------*/
  /*------------------------------------ Navigation Ends ------------------------------------*/

  /*-------------------------------- Content Wrapper Starts ---------------------------------*/
  #content-wrapper {}

  /*--------------------------------- Content Wrapper Ends ----------------------------------*/

  /*--------------------------------- Footer Wrapper Starts ---------------------------------*/
  #footer-wrapper {}

  /*---------------------------------- Footer Wrapper Ends ----------------------------------*/

  /*----------------------------------- Components Starts -----------------------------------*/
  /*------------------------------------ Components Ends ------------------------------------*/

  /*-------------------------------------- Modal Starts -------------------------------------*/
  /*--------------------------------------- Modal Ends --------------------------------------*/

  /*---------------------------------- Slick Slider Starts ----------------------------------*/
  /*----------------------------------- Slick Slider Ends -----------------------------------*/

  /*------------------------------------ Animation Starts -----------------------------------*/
  /*------------------------------------- Animation Ends ------------------------------------*/
}


@media all and (max-width: 1199px) {
  /*------------------------------------ Site Wide Starts -----------------------------------*/
  /*------------------------------------- Site Wide Ends ------------------------------------*/

  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  #header-wrapper {}

  /*--------------------------------- Header Wrapper Starts ---------------------------------*/

  /*----------------------------------- Navigation Starts -----------------------------------*/
  /*------------------------------------ Navigation Ends ------------------------------------*/

  /*-------------------------------- Content Wrapper Starts ---------------------------------*/
  #content-wrapper {}

  /*--------------------------------- Content Wrapper Ends ----------------------------------*/

  /*--------------------------------- Footer Wrapper Starts ---------------------------------*/
  #footer-wrapper {}

  /*---------------------------------- Footer Wrapper Ends ----------------------------------*/

  /*----------------------------------- Components Starts -----------------------------------*/
  /*------------------------------------ Components Ends ------------------------------------*/

  /*-------------------------------------- Modal Starts -------------------------------------*/
  /*--------------------------------------- Modal Ends --------------------------------------*/

  /*---------------------------------- Slick Slider Starts ----------------------------------*/
  /*----------------------------------- Slick Slider Ends -----------------------------------*/

  /*------------------------------------ Animation Starts -----------------------------------*/
  /*------------------------------------- Animation Ends ------------------------------------*/
}


@media all and (max-width: 991px) {
  /*------------------------------------ Site Wide Starts -----------------------------------*/
  /*------------------------------------- Site Wide Ends ------------------------------------*/

  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  #header-wrapper {}

  /*--------------------------------- Header Wrapper Starts ---------------------------------*/

  /*----------------------------------- Navigation Starts -----------------------------------*/
  /*------------------------------------ Navigation Ends ------------------------------------*/

  /*-------------------------------- Content Wrapper Starts ---------------------------------*/
  #content-wrapper {}

  /*--------------------------------- Content Wrapper Ends ----------------------------------*/

  /*--------------------------------- Footer Wrapper Starts ---------------------------------*/
  #footer-wrapper {}

  /*---------------------------------- Footer Wrapper Ends ----------------------------------*/

  /*----------------------------------- Components Starts -----------------------------------*/
  /*------------------------------------ Components Ends ------------------------------------*/

  /*-------------------------------------- Modal Starts -------------------------------------*/
  /*--------------------------------------- Modal Ends --------------------------------------*/

  /*---------------------------------- Slick Slider Starts ----------------------------------*/
  /*----------------------------------- Slick Slider Ends -----------------------------------*/

  /*------------------------------------ Animation Starts -----------------------------------*/
  /*------------------------------------- Animation Ends ------------------------------------*/
}


@media all and (max-width: 767px) {
  /*------------------------------------ Site Wide Starts -----------------------------------*/
  /*------------------------------------- Site Wide Ends ------------------------------------*/

  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  #header-wrapper {}

  /*--------------------------------- Header Wrapper Starts ---------------------------------*/

  /*----------------------------------- Navigation Starts -----------------------------------*/
  /*------------------------------------ Navigation Ends ------------------------------------*/

  /*-------------------------------- Content Wrapper Starts ---------------------------------*/
  #content-wrapper {}

  /*--------------------------------- Content Wrapper Ends ----------------------------------*/

  /*--------------------------------- Footer Wrapper Starts ---------------------------------*/
  #footer-wrapper {}

  /*---------------------------------- Footer Wrapper Ends ----------------------------------*/

  /*----------------------------------- Components Starts -----------------------------------*/
  /*------------------------------------ Components Ends ------------------------------------*/

  /*-------------------------------------- Modal Starts -------------------------------------*/
  .modal .modal-dialog {
    max-width: calc(100% - 60px);
  }

  /*--------------------------------------- Modal Ends --------------------------------------*/

  /*---------------------------------- Slick Slider Starts ----------------------------------*/
  /*----------------------------------- Slick Slider Ends -----------------------------------*/

  /*------------------------------------ Animation Starts -----------------------------------*/
  /*------------------------------------- Animation Ends ------------------------------------*/
}