/**
 * Created by Sushant Gauchan
 * Email : sushant.gauchan11@gmail.com
*/
/*-------------------------------------- Fonts Starts -------------------------------------*/
/*--------------------------------------- Fonts Ends --------------------------------------*/
/*------------------------------------- Colors Starts -------------------------------------*/
/*-------------------------------------- Colors Ends --------------------------------------*/
/*-------------------------------------- Mixins Starts ------------------------------------*/
.ex-flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.ex-flex-wrap {
  flex-wrap: wrap;
  flex-flow: row wrap;
}

.ex-vertical {
  top: 50%;
  transform: translateY(-50%);
}

.ex-transition {
  transition: all 0.6s ease;
}

.ex-transition-medium {
  transition: all 1.2s ease;
}

.ex-transition-large {
  transition: all 1.8s ease;
}

/*--------------------------------------- Mixins Ends -------------------------------------*/
/*------------------------------------ Site Wide Starts -----------------------------------*/
/*------------------------------------- Site Wide Ends ------------------------------------*/
/*--------------------------------- Header Wrapper Starts ---------------------------------*/
/*--------------------------------- Header Wrapper Starts ---------------------------------*/
/*----------------------------------- Navigation Starts -----------------------------------*/
/*------------------------------------ Navigation Ends ------------------------------------*/
/*-------------------------------- Content Wrapper Starts ---------------------------------*/
/*--------------------------------- Content Wrapper Ends ----------------------------------*/
/*--------------------------------- Footer Wrapper Starts ---------------------------------*/
/*---------------------------------- Footer Wrapper Ends ----------------------------------*/
/*----------------------------------- Components Starts -----------------------------------*/
/*------------------------------------ Components Ends ------------------------------------*/
/*-------------------------------------- Modal Starts -------------------------------------*/
/*--------------------------------------- Modal Ends --------------------------------------*/
/*---------------------------------- Slick Slider Starts ----------------------------------*/
/*----------------------------------- Slick Slider Ends -----------------------------------*/
/*------------------------------------ Animation Starts -----------------------------------*/
/*------------------------------------- Animation Ends ------------------------------------*/
@media all and (max-width: 1800px) {
  /*------------------------------------ Site Wide Starts -----------------------------------*/
  .custom-container {
    padding: 34px 150px;
  }
  /*------------------------------------- Site Wide Ends ------------------------------------*/
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  #header-wrapper .bottom-header-section .logo-nav-wrapper .nav-container > ul > li:not(:last-of-type) {
    margin-right: 15px;
  }
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  /*----------------------------------- Navigation Starts -----------------------------------*/
  /*------------------------------------ Navigation Ends ------------------------------------*/
  /*-------------------------------- Content Wrapper Starts ---------------------------------*/
  #content-wrapper #home-page .button-section .button-wrapper ul li button {
    padding: 15px 30px;
  }
  /*--------------------------------- Content Wrapper Ends ----------------------------------*/
  /*--------------------------------- Footer Wrapper Starts ---------------------------------*/
  /*---------------------------------- Footer Wrapper Ends ----------------------------------*/
  /*----------------------------------- Components Starts -----------------------------------*/
  .common-banner-section .banner-slider .common-banner-item-wrapper .common-banner-item .text-container .inner .title h5 {
    font-size: 15px;
  }
  /*------------------------------------ Components Ends ------------------------------------*/
  /*-------------------------------------- Modal Starts -------------------------------------*/
  /*--------------------------------------- Modal Ends --------------------------------------*/
  /*---------------------------------- Slick Slider Starts ----------------------------------*/
  /*----------------------------------- Slick Slider Ends -----------------------------------*/
  /*------------------------------------ Animation Starts -----------------------------------*/
  /*------------------------------------- Animation Ends ------------------------------------*/
}
@media all and (max-width: 1600px) {
  /*------------------------------------ Site Wide Starts -----------------------------------*/
  .custom-container {
    padding: 35px 70px;
  }
  a {
    font-size: 16px;
  }
  h5 {
    font-size: 18px;
  }
  h4 {
    font-size: 17px;
  }
  /*------------------------------------- Site Wide Ends ------------------------------------*/
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  /*----------------------------------- Navigation Starts -----------------------------------*/
  /*------------------------------------ Navigation Ends ------------------------------------*/
  /*-------------------------------- Content Wrapper Starts ---------------------------------*/
  #content-wrapper #home-page .savapati-sandesh-section .image-text-container .image-container img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  #content-wrapper #home-page .national-people-section .section-title {
    margin-bottom: 45px;
  }
  #content-wrapper #home-page .national-people-section .section-title h4 {
    font-size: 20px;
  }
  #content-wrapper #home-page .button-section .button-wrapper ul li button {
    padding: 10px 20px;
  }
  /*--------------------------------- Content Wrapper Ends ----------------------------------*/
  /*--------------------------------- Footer Wrapper Starts ---------------------------------*/
  /*---------------------------------- Footer Wrapper Ends ----------------------------------*/
  /*----------------------------------- Components Starts -----------------------------------*/
  .common-banner-section .banner-slider .common-banner-item-wrapper .common-banner-item .image-container img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .common-notice-container .common-detail .notice-wrapper .notice-item:nth-of-type(3) {
    display: none;
  }
  /*------------------------------------ Components Ends ------------------------------------*/
  /*-------------------------------------- Modal Starts -------------------------------------*/
  /*--------------------------------------- Modal Ends --------------------------------------*/
  /*---------------------------------- Slick Slider Starts ----------------------------------*/
  /*----------------------------------- Slick Slider Ends -----------------------------------*/
  /*------------------------------------ Animation Starts -----------------------------------*/
  /*------------------------------------- Animation Ends ------------------------------------*/
}
@media all and (max-width: 1399px) {
  /*------------------------------------ Site Wide Starts -----------------------------------*/
  h5 {
    font-size: 16px;
  }
  h4 {
    font-size: 15px;
  }
  p {
    font-size: 15px;
  }
  /*------------------------------------- Site Wide Ends ------------------------------------*/
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  #header-wrapper .bottom-header-section .logo-nav-wrapper .logo-container a img {
    width: 80%;
  }
  #header-wrapper .bottom-header-section .logo-nav-wrapper .nav-container > ul > li:not(:last-of-type) {
    margin-right: 13px;
  }
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  /*----------------------------------- Navigation Starts -----------------------------------*/
  /*------------------------------------ Navigation Ends ------------------------------------*/
  /*-------------------------------- Content Wrapper Starts ---------------------------------*/
  #content-wrapper #home-page .national-people-section .section-title h4 {
    font-size: 18px;
  }
  #content-wrapper #home-page .button-section .button-wrapper ul li button {
    padding: 10px 15px;
  }
  /*--------------------------------- Content Wrapper Ends ----------------------------------*/
  /*--------------------------------- Footer Wrapper Starts ---------------------------------*/
  /*---------------------------------- Footer Wrapper Ends ----------------------------------*/
  /*----------------------------------- Components Starts -----------------------------------*/
  .common-banner-section .banner-slider .common-banner-item-wrapper .common-banner-item .text-container .inner {
    padding: 0 41px;
  }
  /*------------------------------------ Components Ends ------------------------------------*/
  /*-------------------------------------- Modal Starts -------------------------------------*/
  /*--------------------------------------- Modal Ends --------------------------------------*/
  /*---------------------------------- Slick Slider Starts ----------------------------------*/
  /*----------------------------------- Slick Slider Ends -----------------------------------*/
  /*------------------------------------ Animation Starts -----------------------------------*/
  /*------------------------------------- Animation Ends ------------------------------------*/
}
@media all and (max-width: 1300px) {
  /*------------------------------------ Site Wide Starts -----------------------------------*/
  h5 {
    font-size: 15px;
  }
  p {
    margin-bottom: 12px;
  }
  /*------------------------------------- Site Wide Ends ------------------------------------*/
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  #header-wrapper .bottom-header-section .logo-nav-wrapper .nav-container > ul > li:not(:last-of-type) {
    margin-right: 10px;
  }
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  /*----------------------------------- Navigation Starts -----------------------------------*/
  /*------------------------------------ Navigation Ends ------------------------------------*/
  /*-------------------------------- Content Wrapper Starts ---------------------------------*/
  #content-wrapper #home-page .common-banner-section .banner-slider-profile-wrapper .profile-wrapper .common-profile-container:not(:last-of-type) {
    padding-bottom: 12px;
  }
  #content-wrapper #home-page .common-banner-section .banner-slider-profile-wrapper .profile-wrapper .common-profile-container .inner .image-container {
    height: 90px;
    width: 90px;
  }
  #content-wrapper #home-page .national-people-wrapper .nation-people-item .inner .image-container {
    width: 100px;
  }
  #content-wrapper #home-page .national-people-wrapper .nation-people-item .inner .image-container img {
    width: 100%;
  }
  #content-wrapper #home-page .national-people-wrapper .nation-people-item .inner .text-container {
    margin-top: 25px;
  }
  #content-wrapper #home-page .national-people-section .section-title h4 {
    font-size: 16px;
  }
  #content-wrapper #home-page .savapati-sandesh-section .image-text-container .text-container {
    padding-right: 40px;
  }
  #content-wrapper #home-page .button-section .button-wrapper ul li button {
    padding: 10px 10px;
  }
  /*--------------------------------- Content Wrapper Ends ----------------------------------*/
  /*--------------------------------- Footer Wrapper Starts ---------------------------------*/
  /*---------------------------------- Footer Wrapper Ends ----------------------------------*/
  /*----------------------------------- Components Starts -----------------------------------*/
  .common-banner-section .banner-slider-profile-wrapper .common-banner-item-wrapper .common-banner-item .image-container {
    height: 580px;
  }
  .common-content-wrapper .common-content-item p {
    font-size: 13px;
  }
  /*------------------------------------ Components Ends ------------------------------------*/
  /*-------------------------------------- Modal Starts -------------------------------------*/
  /*--------------------------------------- Modal Ends --------------------------------------*/
  /*---------------------------------- Slick Slider Starts ----------------------------------*/
  /*----------------------------------- Slick Slider Ends -----------------------------------*/
  /*------------------------------------ Animation Starts -----------------------------------*/
  /*------------------------------------- Animation Ends ------------------------------------*/
}
@media all and (max-width: 1199px) {
  /*------------------------------------ Site Wide Starts -----------------------------------*/
  h5,
h6 {
    font-size: 13px;
  }
  a,
span {
    font-size: 15px;
  }
  /*------------------------------------- Site Wide Ends ------------------------------------*/
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  #header-wrapper .top-header-section .news-login-lang-wrapper .news-wrapper > ul > li:first-of-type {
    width: 30%;
  }
  #header-wrapper .top-header-section .news-login-lang-wrapper .news-wrapper > ul > li:last-of-type {
    width: 70%;
  }
  #header-wrapper .bottom-header-section .nav-container {
    display: none;
  }
  #header-wrapper .bottom-header-section .bottom-header-container {
    padding-block: 25px;
  }
  #header-wrapper .bottom-header-section .bottom-header-container .logo-nav-wrapper {
    justify-content: space-between;
  }
  #header-wrapper .bottom-header-section .bottom-header-container .logo-nav-wrapper .mobile-nav-toggle {
    display: block;
  }
  #header-wrapper .bottom-header-section .bottom-header-container .logo-nav-wrapper .mobile-nav-toggle span {
    display: block;
    width: 20px;
    height: 3px;
    background-color: #238B28;
    transition: all 0.5s ease-in-out;
  }
  #header-wrapper .bottom-header-section .bottom-header-container .logo-nav-wrapper .mobile-nav-toggle span:not(:last-of-type) {
    margin-bottom: 5px;
  }
  #header-wrapper .bottom-header-section .bottom-header-container .logo-nav-wrapper .mobile-nav-toggle.openToggle span:first-of-type {
    background-color: aliceblue;
    margin: 0;
    transform: translateY(1px) rotate(45deg);
  }
  #header-wrapper .bottom-header-section .bottom-header-container .logo-nav-wrapper .mobile-nav-toggle.openToggle span:last-of-type {
    background-color: aliceblue;
    transform: translateY(-2px) rotate(-45deg);
  }
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  /*----------------------------------- Navigation Starts -----------------------------------*/
  /*------------------------------------ Navigation Ends ------------------------------------*/
  /*-------------------------------- Content Wrapper Starts ---------------------------------*/
  #content-wrapper #home-page .common-banner-section .banner-slider-profile-wrapper {
    margin: -20px;
  }
  #content-wrapper #home-page .common-banner-section .banner-slider-profile-wrapper .banner-slider {
    padding: 20px;
  }
  #content-wrapper #home-page .common-banner-section .banner-slider-profile-wrapper .profile-wrapper {
    padding: 20px;
  }
  #content-wrapper #home-page .common-banner-section .banner-slider-profile-wrapper .profile-wrapper .common-profile-container .inner {
    padding: 24px 9px;
  }
  #content-wrapper #home-page .common-banner-section .banner-slider-profile-wrapper .profile-wrapper .common-profile-container .inner .image-container {
    height: 75px;
    width: 75px;
  }
  #content-wrapper #home-page .national-people-section .national-people-wrapper .nation-people-item .inner {
    width: 73px;
  }
  #content-wrapper #home-page .national-people-section .national-people-wrapper .nation-people-item .inner .image-container {
    width: 85px;
  }
  #content-wrapper #home-page .button-section .button-wrapper ul li button {
    flex-direction: column;
    padding: 10px 25px;
  }
  #content-wrapper #home-page .button-section .button-wrapper ul li button span {
    margin-right: 0;
    margin-bottom: 5px;
  }
  #content-wrapper #home-page .button-section .button-wrapper ul li button span img {
    width: 75%;
  }
  #content-wrapper #home-page .button-section .button-wrapper ul li button a {
    color: #fff;
  }
  /*--------------------------------- Content Wrapper Ends ----------------------------------*/
  /*--------------------------------- Footer Wrapper Starts ---------------------------------*/
  #footer-wrapper .top-footer-section .custom-container .logo-container {
    margin-block: 35px;
  }
  #footer-wrapper .top-footer-section .custom-container .top-footer-wrapper .top-footer-item {
    width: 30%;
  }
  #footer-wrapper .top-footer-section .custom-container .top-footer-wrapper .top-footer-item .inner .title {
    padding-bottom: 20px;
  }
  #footer-wrapper .top-footer-section .custom-container .top-footer-wrapper .top-footer-item .inner .content ul li:not(:last-of-type) {
    margin-bottom: 0px;
  }
  /*---------------------------------- Footer Wrapper Ends ----------------------------------*/
  /*----------------------------------- Components Starts -----------------------------------*/
  .common-btn.banner-btn {
    padding: 7px;
    font-size: 15px;
  }
  .common-content-wrapper {
    display: block;
  }
  .common-content-wrapper .common-content-item:first-of-type {
    width: 100%;
  }
  .common-content-wrapper .common-content-item:last-of-type {
    width: 100%;
  }
  .common-content-wrapper .common-content-item .inner .common-detail .upcoming-programs-item .text-container {
    margin-top: 10px;
  }
  .common-content-wrapper .common-content-item p {
    font-size: 14px;
  }
  /*------------------------------------ Components Ends ------------------------------------*/
  /*-------------------------------------- Modal Starts -------------------------------------*/
  /*--------------------------------------- Modal Ends --------------------------------------*/
  /*---------------------------------- Slick Slider Starts ----------------------------------*/
  /*----------------------------------- Slick Slider Ends -----------------------------------*/
  /*------------------------------------ Animation Starts -----------------------------------*/
  /*------------------------------------- Animation Ends ------------------------------------*/
}
@media all and (max-width: 991px) {
  /*------------------------------------ Site Wide Starts -----------------------------------*/
  p {
    font-size: 14px;
  }
  /*------------------------------------- Site Wide Ends ------------------------------------*/
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  /*----------------------------------- Navigation Starts -----------------------------------*/
  /*------------------------------------ Navigation Ends ------------------------------------*/
  /*-------------------------------- Content Wrapper Starts ---------------------------------*/
  #content-wrapper #home-page .common-banner-section .banner-slider-profile-wrapper {
    display: block;
  }
  #content-wrapper #home-page .common-banner-section .banner-slider-profile-wrapper .banner-slider {
    width: 100%;
  }
  #content-wrapper #home-page .common-banner-section .banner-slider-profile-wrapper .profile-wrapper {
    width: 100%;
  }
  #content-wrapper #home-page .national-people-section .national-people-wrapper {
    flex-flow: row;
    flex-wrap: wrap;
    padding-left: 0 !important;
    margin-left: 0;
    display: flex;
    justify-content: space-evenly;
    position: relative;
  }
  #content-wrapper #home-page .national-people-section .national-people-wrapper .nation-people-item {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }
  #content-wrapper #home-page .national-people-section .national-people-wrapper .nation-people-item:nth-last-of-type(1) {
    margin-left: 100px;
  }
  #content-wrapper #home-page .national-people-section .national-people-wrapper .nation-people-item:nth-last-of-type(2) {
    width: 50%;
  }
  #content-wrapper #home-page .national-people-section .national-people-wrapper .nation-people-item:nth-last-of-type(3) {
    width: 50%;
  }
  #content-wrapper #home-page .national-people-section .national-people-wrapper .nation-people-item:nth-last-of-type(4) {
    width: 50%;
  }
  #content-wrapper #home-page .national-people-section .national-people-wrapper .nation-people-item:nth-last-of-type(5) {
    width: 50%;
  }
  #content-wrapper #home-page .national-people-section .national-people-wrapper .nation-people-item:nth-last-of-type(6) {
    width: 50%;
  }
  #content-wrapper #home-page .national-people-section .national-people-wrapper .nation-people-item:nth-last-of-type(7) {
    width: 50%;
  }
  #content-wrapper #home-page .national-people-section .national-people-wrapper .nation-people-item:nth-last-of-type(8) {
    margin-left: 140px;
  }
  #content-wrapper #home-page .national-people-section .national-people-wrapper .nation-people-item .inner {
    width: 160px;
  }
  #content-wrapper #home-page .national-people-section .national-people-wrapper .nation-people-item .inner .image-container {
    width: 160px;
  }
  #content-wrapper #home-page .national-people-section .national-people-wrapper .nation-people-item .inner .image-container img {
    width: 60%;
  }
  #content-wrapper #home-page .national-people-section .national-people-wrapper .nation-people-item .inner .text-container {
    margin-block: 20px;
  }
  #content-wrapper #home-page .savapati-sandesh-section .image-text-container {
    display: block;
  }
  #content-wrapper #home-page .savapati-sandesh-section .image-text-container .text-container {
    width: 100%;
  }
  #content-wrapper #home-page .savapati-sandesh-section .image-text-container .image-container {
    width: 100%;
  }
  #content-wrapper #home-page .press-bigapti-section .press-bigapti-wrapper {
    display: block;
  }
  #content-wrapper #home-page .press-bigapti-section .press-bigapti-wrapper .press-bigapti-item {
    width: 100%;
  }
  #content-wrapper #home-page .press-bigapti-section .press-bigapti-wrapper .press-bigapti-item .common-blog-container .common-blog-item .image-container {
    width: 20%;
  }
  #content-wrapper #home-page .button-section .button-wrapper ul {
    flex-wrap: wrap;
    margin: -20px;
  }
  #content-wrapper #home-page .button-section .button-wrapper ul li {
    width: 50%;
    padding: 20px;
  }
  #content-wrapper #home-page .button-section .button-wrapper ul li button {
    flex-direction: row;
    padding: 20px 72px;
    width: 100%;
    justify-content: space-evenly;
  }
  /*--------------------------------- Content Wrapper Ends ----------------------------------*/
  /*--------------------------------- Footer Wrapper Starts ---------------------------------*/
  #footer-wrapper .top-footer-section .custom-container .top-footer-wrapper .top-footer-item {
    width: 40%;
  }
  /*---------------------------------- Footer Wrapper Ends ----------------------------------*/
  /*----------------------------------- Components Starts -----------------------------------*/
  .common-banner-section .banner-slider .common-banner-item-wrapper {
    display: block;
  }
  .common-banner-section .banner-slider .common-banner-item-wrapper .common-banner-item {
    width: 100%;
  }
  .common-banner-section .banner-slider .common-banner-item-wrapper .common-banner-item .text-container {
    margin-block: 25px;
  }
  .common-banner-section .banner-slider .common-banner-item-wrapper .common-banner-item .text-container .inner .title h5 {
    margin-bottom: 10px;
  }
  .common-banner-section .banner-slider .common-banner-item-wrapper .common-banner-item .text-container .inner .content {
    margin-bottom: 15px;
  }
  .common-btn.banner-btn {
    margin-bottom: 25px;
  }
  .read-more-btn {
    margin: auto;
    margin-bottom: 0;
  }
  /*------------------------------------ Components Ends ------------------------------------*/
  /*-------------------------------------- Modal Starts -------------------------------------*/
  /*--------------------------------------- Modal Ends --------------------------------------*/
  /*---------------------------------- Slick Slider Starts ----------------------------------*/
  /*----------------------------------- Slick Slider Ends -----------------------------------*/
  /*------------------------------------ Animation Starts -----------------------------------*/
  /*------------------------------------- Animation Ends ------------------------------------*/
}
@media all and (max-width: 767px) {
  /*------------------------------------ Site Wide Starts -----------------------------------*/
  .custom-container {
    padding: 25px 30px;
    overflow: hidden;
  }
  /*------------------------------------- Site Wide Ends ------------------------------------*/
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  #header-wrapper .top-header-section .news-login-lang-wrapper .news-wrapper > ul {
    display: block;
  }
  #header-wrapper .top-header-section .news-login-lang-wrapper .news-wrapper > ul > li:first-of-type {
    width: 100%;
  }
  #header-wrapper .top-header-section .news-login-lang-wrapper .news-wrapper > ul > li:last-of-type {
    width: 100%;
  }
  #header-wrapper .top-header-section .news-login-lang-wrapper .login-lang-wrapper {
    flex-wrap: wrap;
  }
  #header-wrapper .bottom-header-section .logo-nav-wrapper .logo-container a img {
    width: 70%;
  }
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  /*----------------------------------- Navigation Starts -----------------------------------*/
  /*------------------------------------ Navigation Ends ------------------------------------*/
  /*-------------------------------- Content Wrapper Starts ---------------------------------*/
  #content-wrapper #home-page .national-people-section .national-people-wrapper .nation-people-item:nth-last-of-type(8) {
    margin-left: 100px;
    margin-bottom: 30px;
  }
  #content-wrapper #home-page .national-people-section .national-people-wrapper .nation-people-item:nth-last-of-type(1) {
    margin-top: 20px;
  }
  #content-wrapper #home-page .savapati-sandesh-section .image-text-container .text-container {
    padding: 20px 20px;
    padding-right: 20px;
  }
  #content-wrapper #home-page .press-bigapti-section .press-bigapti-wrapper .press-bigapti-item .common-blog-container .common-blog-item .image-container {
    width: 50%;
  }
  #content-wrapper #home-page .button-section .button-wrapper ul li button {
    padding: 20px 10px;
    flex-direction: column;
  }
  #content-wrapper #home-page .button-section .button-wrapper ul li button span img {
    width: 40px;
  }
  #content-wrapper #home-page .social-section .social-wrapper {
    display: block;
  }
  #content-wrapper #home-page .social-section .social-wrapper .social-item {
    width: 100%;
  }
  /*--------------------------------- Content Wrapper Ends ----------------------------------*/
  /*--------------------------------- Footer Wrapper Starts ---------------------------------*/
  #footer-wrapper .top-footer-section .custom-container .top-footer-wrapper {
    flex-wrap: wrap;
  }
  #footer-wrapper .top-footer-section .custom-container .top-footer-wrapper .top-footer-item {
    width: 50%;
  }
  #footer-wrapper .bottom-footer-section .custom-container .bottom-footer-wrapper ul {
    display: block;
  }
  /*---------------------------------- Footer Wrapper Ends ----------------------------------*/
  /*----------------------------------- Components Starts -----------------------------------*/
  .common-banner-section .banner-slider-profile-wrapper .common-banner-item-wrapper .common-banner-item .text-container .inner {
    padding: 0 20px;
  }
  .common-banner-section .banner-slider-profile-wrapper .common-banner-item-wrapper .common-banner-item .image-container {
    height: 285px;
  }
  .common-banner-section .banner-slider-profile-wrapper .common-banner-item-wrapper .common-banner-item .image-container img {
    -o-object-fit: contain;
       object-fit: contain;
  }
  .common-content-wrapper .common-content-item p {
    font-size: 13px;
    line-height: 28px;
  }
  /*------------------------------------ Components Ends ------------------------------------*/
  /*-------------------------------------- Modal Starts -------------------------------------*/
  .modal .modal-dialog {
    max-width: calc(100% - 60px);
  }
  /*--------------------------------------- Modal Ends --------------------------------------*/
  /*---------------------------------- Slick Slider Starts ----------------------------------*/
  /*----------------------------------- Slick Slider Ends -----------------------------------*/
  /*------------------------------------ Animation Starts -----------------------------------*/
  /*------------------------------------- Animation Ends ------------------------------------*/
}/*# sourceMappingURL=responsive.css.map */