/**
 * Created by Sushant Gauchan
 * Email : sushant.gauchan11@gmail.com
*/
/*-------------------------------------- Fonts Starts -------------------------------------*/
/*--------------------------------------- Fonts Ends --------------------------------------*/
/*------------------------------------- Colors Starts -------------------------------------*/
/*-------------------------------------- Colors Ends --------------------------------------*/
/*-------------------------------------- Mixins Starts ------------------------------------*/
.ex-flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.ex-flex-wrap {
  flex-wrap: wrap;
  flex-flow: row wrap;
}

.ex-vertical {
  top: 50%;
  transform: translateY(-50%);
}

.ex-transition {
  transition: all 0.6s ease;
}

.ex-transition-medium {
  transition: all 1.2s ease;
}

.ex-transition-large {
  transition: all 1.8s ease;
}

/*--------------------------------------- Mixins Ends -------------------------------------*/
/*------------------------------------ Site Wide Starts -----------------------------------*/
/*------------------------------------- Site Wide Ends ------------------------------------*/
/*--------------------------------- Header Wrapper Starts ---------------------------------*/
/*--------------------------------- Header Wrapper Starts ---------------------------------*/
/*----------------------------------- Navigation Starts -----------------------------------*/
/*------------------------------------ Navigation Ends ------------------------------------*/
/*-------------------------------- Content Wrapper Starts ---------------------------------*/
/*--------------------------------- Content Wrapper Ends ----------------------------------*/
/*--------------------------------- Footer Wrapper Starts ---------------------------------*/
/*---------------------------------- Footer Wrapper Ends ----------------------------------*/
/*----------------------------------- Components Starts -----------------------------------*/
/*------------------------------------ Components Ends ------------------------------------*/
/*-------------------------------------- Modal Starts -------------------------------------*/
/*--------------------------------------- Modal Ends --------------------------------------*/
/*---------------------------------- Slick Slider Starts ----------------------------------*/
/*----------------------------------- Slick Slider Ends -----------------------------------*/
/*------------------------------------ Animation Starts -----------------------------------*/
/*------------------------------------- Animation Ends ------------------------------------*/
@media all and (max-width: 1800px) {
  /*------------------------------------ Site Wide Starts -----------------------------------*/
  .custom-container {
    padding: 34px 150px;
  }
  /*------------------------------------- Site Wide Ends ------------------------------------*/
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  #header-wrapper .bottom-header-section .logo-nav-wrapper .nav-container > ul > li:not(:last-of-type) {
    margin-right: 15px;
  }
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  /*----------------------------------- Navigation Starts -----------------------------------*/
  /*------------------------------------ Navigation Ends ------------------------------------*/
  /*-------------------------------- Content Wrapper Starts ---------------------------------*/
  #content-wrapper #home-page .button-section .button-wrapper ul li button {
    padding: 15px 30px;
  }
  /*--------------------------------- Content Wrapper Ends ----------------------------------*/
  /*--------------------------------- Footer Wrapper Starts ---------------------------------*/
  /*---------------------------------- Footer Wrapper Ends ----------------------------------*/
  /*----------------------------------- Components Starts -----------------------------------*/
  .common-banner-section .banner-slider .common-banner-item-wrapper .common-banner-item .text-container .inner .title h5 {
    font-size: 15px;
  }
  /*------------------------------------ Components Ends ------------------------------------*/
  /*-------------------------------------- Modal Starts -------------------------------------*/
  /*--------------------------------------- Modal Ends --------------------------------------*/
  /*---------------------------------- Slick Slider Starts ----------------------------------*/
  /*----------------------------------- Slick Slider Ends -----------------------------------*/
  /*------------------------------------ Animation Starts -----------------------------------*/
  /*------------------------------------- Animation Ends ------------------------------------*/
}
@media all and (max-width: 1600px) {
  /*------------------------------------ Site Wide Starts -----------------------------------*/
  .custom-container {
    padding: 35px 70px;
  }
  a {
    font-size: 16px;
  }
  h5 {
    font-size: 18px;
  }
  h4 {
    font-size: 17px;
  }
  /*------------------------------------- Site Wide Ends ------------------------------------*/
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  /*----------------------------------- Navigation Starts -----------------------------------*/
  /*------------------------------------ Navigation Ends ------------------------------------*/
  /*-------------------------------- Content Wrapper Starts ---------------------------------*/
  #content-wrapper #home-page .savapati-sandesh-section .image-text-container .image-container img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  #content-wrapper #home-page .national-people-section .section-title {
    margin-bottom: 45px;
  }
  #content-wrapper #home-page .national-people-section .section-title h4 {
    font-size: 20px;
  }
  #content-wrapper #home-page .button-section .button-wrapper ul li button {
    padding: 10px 20px;
  }
  /*--------------------------------- Content Wrapper Ends ----------------------------------*/
  /*--------------------------------- Footer Wrapper Starts ---------------------------------*/
  /*---------------------------------- Footer Wrapper Ends ----------------------------------*/
  /*----------------------------------- Components Starts -----------------------------------*/
  .common-banner-section .banner-slider .common-banner-item-wrapper .common-banner-item .image-container img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .common-notice-container .common-detail .notice-wrapper .notice-item:nth-of-type(3) {
    display: none;
  }
  /*------------------------------------ Components Ends ------------------------------------*/
  /*-------------------------------------- Modal Starts -------------------------------------*/
  /*--------------------------------------- Modal Ends --------------------------------------*/
  /*---------------------------------- Slick Slider Starts ----------------------------------*/
  /*----------------------------------- Slick Slider Ends -----------------------------------*/
  /*------------------------------------ Animation Starts -----------------------------------*/
  /*------------------------------------- Animation Ends ------------------------------------*/
}
@media all and (max-width: 1399px) {
  /*------------------------------------ Site Wide Starts -----------------------------------*/
  h5 {
    font-size: 16px;
  }
  h4 {
    font-size: 15px;
  }
  p {
    font-size: 15px;
  }
  /*------------------------------------- Site Wide Ends ------------------------------------*/
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  #header-wrapper .bottom-header-section .logo-nav-wrapper .logo-container a img {
    width: 80%;
  }
  #header-wrapper .bottom-header-section .logo-nav-wrapper .nav-container > ul > li:not(:last-of-type) {
    margin-right: 13px;
  }
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  /*----------------------------------- Navigation Starts -----------------------------------*/
  /*------------------------------------ Navigation Ends ------------------------------------*/
  /*-------------------------------- Content Wrapper Starts ---------------------------------*/
  #content-wrapper #home-page .national-people-section .section-title h4 {
    font-size: 18px;
  }
  #content-wrapper #home-page .button-section .button-wrapper ul li button {
    padding: 10px 15px;
  }
  /*--------------------------------- Content Wrapper Ends ----------------------------------*/
  /*--------------------------------- Footer Wrapper Starts ---------------------------------*/
  /*---------------------------------- Footer Wrapper Ends ----------------------------------*/
  /*----------------------------------- Components Starts -----------------------------------*/
  .common-banner-section .banner-slider .common-banner-item-wrapper .common-banner-item .text-container .inner {
    padding: 0 41px;
  }
  /*------------------------------------ Components Ends ------------------------------------*/
  /*-------------------------------------- Modal Starts -------------------------------------*/
  /*--------------------------------------- Modal Ends --------------------------------------*/
  /*---------------------------------- Slick Slider Starts ----------------------------------*/
  /*----------------------------------- Slick Slider Ends -----------------------------------*/
  /*------------------------------------ Animation Starts -----------------------------------*/
  /*------------------------------------- Animation Ends ------------------------------------*/
}
@media all and (max-width: 1300px) {
  /*------------------------------------ Site Wide Starts -----------------------------------*/
  h5 {
    font-size: 15px;
  }
  p {
    margin-bottom: 12px;
  }
  /*------------------------------------- Site Wide Ends ------------------------------------*/
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  #header-wrapper .bottom-header-section .logo-nav-wrapper .nav-container > ul > li:not(:last-of-type) {
    margin-right: 10px;
  }
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  /*----------------------------------- Navigation Starts -----------------------------------*/
  /*------------------------------------ Navigation Ends ------------------------------------*/
  /*-------------------------------- Content Wrapper Starts ---------------------------------*/
  #content-wrapper #home-page .common-banner-section .banner-slider-profile-wrapper .profile-wrapper .common-profile-container:not(:last-of-type) {
    padding-bottom: 12px;
  }
  #content-wrapper #home-page .common-banner-section .banner-slider-profile-wrapper .profile-wrapper .common-profile-container .inner .image-container {
    height: 90px;
    width: 90px;
  }
  #content-wrapper #home-page .national-people-wrapper .nation-people-item .inner .image-container {
    width: 100px;
  }
  #content-wrapper #home-page .national-people-wrapper .nation-people-item .inner .image-container img {
    width: 100%;
  }
  #content-wrapper #home-page .national-people-wrapper .nation-people-item .inner .text-container {
    margin-top: 25px;
  }
  #content-wrapper #home-page .national-people-section .section-title h4 {
    font-size: 16px;
  }
  #content-wrapper #home-page .savapati-sandesh-section .image-text-container .text-container {
    padding-right: 40px;
  }
  #content-wrapper #home-page .button-section .button-wrapper ul li button {
    padding: 10px 10px;
  }
  /*--------------------------------- Content Wrapper Ends ----------------------------------*/
  /*--------------------------------- Footer Wrapper Starts ---------------------------------*/
  /*---------------------------------- Footer Wrapper Ends ----------------------------------*/
  /*----------------------------------- Components Starts -----------------------------------*/
  .common-banner-section .banner-slider-profile-wrapper .common-banner-item-wrapper .common-banner-item .image-container {
    height: 580px;
  }
  .common-content-wrapper .common-content-item p {
    font-size: 13px;
  }
  /*------------------------------------ Components Ends ------------------------------------*/
  /*-------------------------------------- Modal Starts -------------------------------------*/
  /*--------------------------------------- Modal Ends --------------------------------------*/
  /*---------------------------------- Slick Slider Starts ----------------------------------*/
  /*----------------------------------- Slick Slider Ends -----------------------------------*/
  /*------------------------------------ Animation Starts -----------------------------------*/
  /*------------------------------------- Animation Ends ------------------------------------*/
}
@media all and (max-width: 1199px) {
  /*------------------------------------ Site Wide Starts -----------------------------------*/
  /*------------------------------------- Site Wide Ends ------------------------------------*/
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  #header-wrapper .top-header-section .news-login-lang-wrapper .news-wrapper > ul > li:first-of-type {
    width: 30%;
  }
  #header-wrapper .top-header-section .news-login-lang-wrapper .news-wrapper > ul > li:last-of-type {
    width: 70%;
  }
  #header-wrapper .bottom-header-section .nav-container {
    display: none;
  }
  #header-wrapper .bottom-header-section .bottom-header-container {
    padding-block: 25px;
  }
  #header-wrapper .bottom-header-section .bottom-header-container .logo-nav-wrapper {
    justify-content: space-between;
  }
  #header-wrapper .bottom-header-section .bottom-header-container .logo-nav-wrapper .mobile-nav-toggle {
    display: block;
  }
  #header-wrapper .bottom-header-section .bottom-header-container .logo-nav-wrapper .mobile-nav-toggle span {
    display: block;
    width: 20px;
    height: 3px;
    background-color: #238B28;
    transition: all 0.5s ease-in-out;
  }
  #header-wrapper .bottom-header-section .bottom-header-container .logo-nav-wrapper .mobile-nav-toggle span:not(:last-of-type) {
    margin-bottom: 5px;
  }
  #header-wrapper .bottom-header-section .bottom-header-container .logo-nav-wrapper .mobile-nav-toggle.openToggle span:first-of-type {
    margin: 0;
    transform: translateY(1px) rotate(45deg);
  }
  #header-wrapper .bottom-header-section .bottom-header-container .logo-nav-wrapper .mobile-nav-toggle.openToggle span:last-of-type {
    transform: translateY(-2px) rotate(-45deg);
  }
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  /*----------------------------------- Navigation Starts -----------------------------------*/
  /*------------------------------------ Navigation Ends ------------------------------------*/
  /*-------------------------------- Content Wrapper Starts ---------------------------------*/
  /*--------------------------------- Content Wrapper Ends ----------------------------------*/
  /*--------------------------------- Footer Wrapper Starts ---------------------------------*/
  /*---------------------------------- Footer Wrapper Ends ----------------------------------*/
  /*----------------------------------- Components Starts -----------------------------------*/
  /*------------------------------------ Components Ends ------------------------------------*/
  /*-------------------------------------- Modal Starts -------------------------------------*/
  /*--------------------------------------- Modal Ends --------------------------------------*/
  /*---------------------------------- Slick Slider Starts ----------------------------------*/
  /*----------------------------------- Slick Slider Ends -----------------------------------*/
  /*------------------------------------ Animation Starts -----------------------------------*/
  /*------------------------------------- Animation Ends ------------------------------------*/
}
@media all and (max-width: 991px) {
  /*------------------------------------ Site Wide Starts -----------------------------------*/
  /*------------------------------------- Site Wide Ends ------------------------------------*/
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  /*----------------------------------- Navigation Starts -----------------------------------*/
  /*------------------------------------ Navigation Ends ------------------------------------*/
  /*-------------------------------- Content Wrapper Starts ---------------------------------*/
  /*--------------------------------- Content Wrapper Ends ----------------------------------*/
  /*--------------------------------- Footer Wrapper Starts ---------------------------------*/
  /*---------------------------------- Footer Wrapper Ends ----------------------------------*/
  /*----------------------------------- Components Starts -----------------------------------*/
  /*------------------------------------ Components Ends ------------------------------------*/
  /*-------------------------------------- Modal Starts -------------------------------------*/
  /*--------------------------------------- Modal Ends --------------------------------------*/
  /*---------------------------------- Slick Slider Starts ----------------------------------*/
  /*----------------------------------- Slick Slider Ends -----------------------------------*/
  /*------------------------------------ Animation Starts -----------------------------------*/
  /*------------------------------------- Animation Ends ------------------------------------*/
}
@media all and (max-width: 767px) {
  /*------------------------------------ Site Wide Starts -----------------------------------*/
  /*------------------------------------- Site Wide Ends ------------------------------------*/
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  /*----------------------------------- Navigation Starts -----------------------------------*/
  /*------------------------------------ Navigation Ends ------------------------------------*/
  /*-------------------------------- Content Wrapper Starts ---------------------------------*/
  /*--------------------------------- Content Wrapper Ends ----------------------------------*/
  /*--------------------------------- Footer Wrapper Starts ---------------------------------*/
  /*---------------------------------- Footer Wrapper Ends ----------------------------------*/
  /*----------------------------------- Components Starts -----------------------------------*/
  /*------------------------------------ Components Ends ------------------------------------*/
  /*-------------------------------------- Modal Starts -------------------------------------*/
  .modal .modal-dialog {
    max-width: calc(100% - 60px);
  }
  /*--------------------------------------- Modal Ends --------------------------------------*/
  /*---------------------------------- Slick Slider Starts ----------------------------------*/
  /*----------------------------------- Slick Slider Ends -----------------------------------*/
  /*------------------------------------ Animation Starts -----------------------------------*/
  /*------------------------------------- Animation Ends ------------------------------------*/
}/*# sourceMappingURL=responsive.css.map */