/**
 * Created by Sushant Gauchan
 * Email : sushant.gauchan11@gmail.com
*/

@import "components/fonts_and_colors";

/*------------------------------------ Mixins Starts -----------------------------------*/
@mixin white-green {
  background-color: $green-color;
  color: #fff;
}



/*------------------------------------ Mixins Ends -----------------------------------*/


/*------------------------------------ Site Wide Starts -----------------------------------*/
body {
  &.open-nav {
    overflow: hidden;

    .nav-section {
      left: 0;
      right: 0;
      transition: all 0.5s ease;
    }
  }
}


/*------------------------------------- Site Wide Ends ------------------------------------*/

/*--------------------------------- Header Wrapper Starts ---------------------------------*/
#header-wrapper {
  z-index: 10;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  transition: all .8s ease;

  .custom-container {
    padding-top: 0;
    padding-bottom: 0;
  }

  .top-header-section {
    background-color: $green-color;

    .news-login-lang-wrapper {
      display: flex;
      align-items: center;

      .news-wrapper {
        width: 50%;

        &>ul {
          display: flex;
          align-items: center;

          &>li {
            &:first-of-type {
              width: 20%;
              position: relative;

              a {
                color: #fff;
              }
            }

            &:last-of-type {
              width: 50%;

            }

            ul {
              display: flex;
              align-items: center;

              li {
                h6 {
                  color: #fff;
                  line-height: 28.8px;
                }
              }
            }
          }
        }
      }

      .login-lang-wrapper {
        flex: 1;
        display: flex;
        justify-content: flex-end;

        .login-wrapper {
          margin-right: 32px;

          button {
            display: flex;
            align-items: center;
            color: #fff;

            span {
              margin-right: 8px;
            }
          }
        }

        .lang-wrapper {
          ul {
            li {
              display: inline-block;
              color: #fff;

              &:nth-of-type(2) {
                margin-inline: 8px;
              }

              .switch {
                position: relative;
                display: inline-block;
                width: 40px;
                height: 22px;

                input {
                  opacity: 0;
                  width: 0;
                  height: 0;

                  &:checked {
                    + {
                      .slider {
                        background-color: #2196F3;

                        &::before {
                          transform: translateX(16px);
                        }
                      }
                    }
                  }

                  &:focus {
                    + {
                      .slider {
                        box-shadow: 0 0 1px #2196F3;
                      }
                    }
                  }
                }

                .slider {
                  position: absolute;
                  cursor: pointer;
                  top: 0;
                  left: 0;
                  right: 0;
                  bottom: 0;
                  background-color: #ccc;
                  -webkit-transition: .4s;
                  transition: .4s;

                  &:before {
                    position: absolute;
                    content: "";
                    height: 15px;
                    width: 15px;
                    left: 4px;
                    bottom: 4px;
                    background-color: white;
                    -webkit-transition: .4s;
                    transition: .4s;
                  }

                  &.round {
                    border-radius: 20px;

                    &:before {
                      border-radius: 50%;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .bottom-header-section {
    .logo-nav-wrapper {
      display: flex;
      align-items: center;

      .logo-container {
        a {
          width: 215px;
          display: inline-block;

          img {
            width: 100%;
            max-width: 100%;
            height: auto;
          }
        }
      }

      .nav-container {
        flex: 1;
        text-align: right;

        &>ul {
          &>li {
            position: relative;
            display: inline-block;

            &:not(:last-of-type) {
              margin-right: 40px;
            }

            a {
              display: block;
              padding: 54px 0px;
              color: #000;
            }
          }
        }
      }
    }
  }
}

/*--------------------------------- Header Wrapper Starts ---------------------------------*/
//*********FOR HAMBURGER MENU
.nav-section {
  position: fixed;
  height: 100vh;
  background-color: #00BC46;
  top: 0;
  left: -1000px;
  z-index: 10;
  overflow-x: hidden;
  transition: all 0.5s ease-in;

  .navigation {
    padding: 200px 60px;

    ul {
      text-align: center;

      li {

        a {
          font-size: 18px;
          line-height: 2.5em;
          color: #fff;
        }
      }
    }
  }
}

.mobile-nav-toggle {
  z-index: 12;
}

/*----------------------------------- Navigation Starts -----------------------------------*/
/*------------------------------------ Navigation Ends ------------------------------------*/

/*-------------------------------- Content Wrapper Starts ---------------------------------*/
#content-wrapper {
  #home-page {
    .common-banner-section {
      .banner-slider-profile-wrapper {
        display: flex;
        margin: -30px;

        .banner-slider {
          width: 80%;
          padding: 30px;
        }

        .profile-wrapper {
          width: 20%;
          padding: 30px;

          .title {
            @include white-green;
            border-radius: 4px 4px 0px 0px;
            padding-block: 10px;
            text-align: center;
            margin-bottom: 10px;
          }

          .common-profile-container {
            .inner {
              text-align: center;
              padding: 15px 20px;
              background: $approx-snow;
              border-radius: 4px;

              .image-container {
                height: 100px;
                width: 100px;
                margin: auto;

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }

              .description {
                h6 {
                  font-weight: 600;

                  &:first-of-type {
                    margin: 8px 0;
                    color: $green-color;
                  }
                }
              }
            }

            &:not(:last-of-type) {
              padding-bottom: 30px;
            }
          }
        }
      }
    }

    .national-people-section {
      .section-title {
        h4 {
          display: inline-block;
          position: relative;

          &:after {
            position: absolute;
            content: "";
            display: block;
            bottom: -15px;
            left: 50%;
            transform: translateX(-50%);
            height: 2px;
            width: 30px;
            background-color: $green-color;
          }
        }
      }

      .national-people-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .nation-people-item {
          .inner {
            text-align: center;

            .image-container {
              &.flag {
                width: 80px;

                img {
                  width: 100%;
                }
              }
            }

            .text-container {
              color: $green-color;
              margin-top: 20px;
            }
          }
        }
      }
    }

    .savapati-sandesh-section {
      .image-text-container {
        display: flex;
        background-color: $approx-snow;

        .text-container {
          width: 70%;
          padding: 30px 25px;
          padding-right: 70px;
        }

        .image-container {
          width: 30%;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    .press-bigapti-section {
      .press-bigapti-wrapper {
        display: flex;
        margin: -30px;

        .press-bigapti-item {
          width: 50%;
          padding: 30px;

          .common-blog-container {
            background-color: #FBFBFB;
            margin: -16px -24px;
            margin: 0;

            .common-blog-item {
              display: flex;
              padding: 16px 24px;

              .image-container {
                width: 30%;

                img {
                  width: 100%;
                }
              }

              .text-container {
                width: 70%;
                padding: 14px;

                .description {
                  &:hover {
                    color: #00BC46;
                  }
                }
              }
            }
          }
        }
      }
    }

    .button-section {
      .button-wrapper {
        ul {
          display: flex;
          justify-content: space-between;

          li {
            button {
              display: flex;
              align-items: center;
              background-color: $green-color;
              padding: 15px 50px;
              border-radius: 4px;
              color: #fff;

              a {
                color: #fff;
              }

              span {
                margin-right: 15px;
              }
            }
          }
        }
      }
    }

    .social-section {
      .social-wrapper {
        display: flex;
        margin: -35px;

        .social-item {
          width: 33.33%;
          padding: 35px;

          .inner {
            height: 100%;

            .title {
              h5 {
                background-color: $green-color;
                padding: 10px 25px;
                color: #fff;
                font-size: 14px;
              }
            }

            .content {
              width: 100%;

              iframe {
                width: 100% !important;

                ._2p3a {
                  width: 500px;
                }
              }
            }
          }
        }
      }
    }
  }

  #contact-page {
    .contact-section {
      .block-container {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -20px;

        .block-item {
          width: 50%;
          padding: 0 20px;

          .info-container {
            max-width: 470px;

            .info-item {
              &:not(:last-of-type) {
                margin-bottom: 45px;
              }

              .title {
                margin-bottom: 10px;

                h5 {
                  font-family: $font-type-1;
                  font-weight: bold;
                }
              }

              ul {
                &:not(:last-of-type) {
                  margin-bottom: 15px;
                }

                &.type-direction {
                  li {
                    a {
                      font-size: 12px;
                      line-height: 1em;
                      letter-spacing: 1px;
                      text-transform: uppercase;
                      border-bottom: 1px solid black;
                      padding-bottom: 2px;
                      font-weight: bold;
                    }
                  }
                }

                li {
                  line-height: 1;

                  a {
                    color: $black-color;
                  }

                  &:not(:last-child) {
                    margin-bottom: 8px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

/*--------------------------------- Content Wrapper Ends ----------------------------------*/


/*--------------------------------- Footer Wrapper Starts ---------------------------------*/
#footer-wrapper {
  .top-footer-section {
    background: #00BC46;

    .custom-container {
      // padding: 112px 200px;

      .logo-container {
        margin-block: 50px;
        // margin-top: 77px;
      }

      .top-footer-wrapper {
        display: flex;
        margin: 0 -30px;

        .top-footer-item {
          width: 25%;
          padding: 0 30px;

          .inner {
            .title {
              padding-bottom: 32px;
            }

            .content {
              ul {
                li {
                  &:not(:last-of-type) {
                    margin-bottom: 10px;
                  }

                  a {
                    color: #fff;
                  }
                }
              }
            }

            .social-link-container {
              margin-block: 32px;

              ul {
                display: flex;
                align-items: center;

                li {
                  &:not(:last-of-type) {
                    margin-right: 16px;
                  }

                  a {
                    span {
                      width: 32px;
                      height: 32px;
                      border-radius: 4px;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      background-color: #005087;
                      color: #fff;

                      &.twitter {
                        background-color: #359FD1;
                      }

                      &.youtube {
                        background-color: #CD1F38;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

  }

  .bottom-footer-section {
    .custom-container {
      padding-top: 20px;
      padding-bottom: 20px;

      .bottom-footer-wrapper {
        ul {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }
    }
  }
}

/*---------------------------------- Footer Wrapper Ends ----------------------------------*/

/*----------------------------------- Components Starts -----------------------------------*/
.common-banner-section {
  .banner-slider {
    .common-banner-item-wrapper {
      display: flex;

      .common-banner-item {
        width: 50%;

        .image-container {
          height: 650px;

          img {
            height: 100%;
          }
        }

        .text-container {
          height: 100%;

          .inner {
            height: 100%;
            padding: 0 70px;
            background-color: $approx-snow;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .date-container {
              h6 {
                margin-bottom: 16px;
                color: $alizarin;
              }
            }

            .title {
              h5 {
                color: $green-color;
                margin-bottom: 16px;
                font-size: 16px;
                line-height: 24px;
                font-weight: 600;
              }
            }

            .content {
              margin-bottom: 33px;
            }
          }
        }

        .image-container {
          img {
            width: 100%;
          }
        }
      }
    }
  }
}

.common-content-wrapper {
  display: flex;
  margin: -50px;

  .common-content-item {
    padding: 50px;

    &:first-of-type {
      width: 65%;
    }

    &:last-of-type {
      width: 35%;

      .common-detail {
        background-color: transparent;
      }
    }

    p {
      font-size: 14px;
      line-height: 24px;
    }

    .inner {
      .common-detail {
        background-color: #FBFBFB;

        .upcoming-programs-item {
          padding: 27px;
        }
      }
    }
  }
}

.common-notice-container {
  .common-detail {
    padding-top: 32px;
    border-top: 1px solid $green-color;

    .notice-wrapper {
      .notice-item {
        margin-bottom: 15px;
        position: relative;
        padding-left: 30px;

        &:before {
          position: absolute;
          content: "\f101";
          font-family: fontawesome;
          font-size: 14px;
          left: 0;
          top: -7px;
        }

        .date-container {
          padding-bottom: 8px;

          h6 {
            color: $alizarin;
          }
        }

        .notice {
          &:hover {
            color: #00BC46;
          }
        }
      }
    }

  }
}

.common-block-container {
  display: flex;
  flex-wrap: wrap;
  margin: -25px -15px;

  .block-item {
    width: 25%;
    padding: 25px 15px;

    .inner {
      .image-container {
        a {
          display: block;
          position: relative;
          overflow: hidden;
          padding-bottom: 100%;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            position: absolute;
            top: 0;
            right: 0;
            transform: scale(1);
            transition: all 1.4s ease;
          }
        }
      }

      .text-container {
        .title {
          margin: 30px 0 15px;

          a {
            color: $primary-color;
          }
        }
      }

      &:hover {
        .image-container {
          a {
            img {
              transform: scale(1.05);
              transition: all 1.4s ease;
            }
          }
        }
      }
    }
  }
}

.common-faq-container {
  .card {
    width: 100%;
    border: 0;
    background-color: transparent;

    &:not(:last-of-type) {
      margin-bottom: 30px;
    }

    .card-inner {
      .card-header {
        border: 0;
        background-color: transparent;
        padding: 0;

        button {
          width: 100%;
          line-height: 1em;
          position: relative;
          display: flex;
          outline: none;
          text-align: left;
          border: 0;

          padding: 28px 45px;

          &:active,
          &:focus {
            outline: none;
          }

          span {
            display: block;

            &:nth-of-type(1) {
              width: 30px;
              font-weight: bold;
            }

            &:nth-of-type(2) {
              width: calc(100% - 30px);
              margin-top: -2px;
            }
          }

        }
      }

      .card-body {
        padding: 30px 45px;
      }
    }

  }
}

.date-container {

  h6,
  p {
    color: $alizarin;
  }
}

.common-logo-container {
  a {
    width: 195px;
    display: inline-block;

    img {
      width: 100%;
      max-width: 100%;
      height: auto;
    }
  }
}

.common-toggle {
  display: none;
}

.common-form {
  .fields {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;

    .form-group {
      position: relative;
      width: 100%;
      margin-bottom: 0;
      padding: 0 10px;

      &:not(:last-of-type) {
        margin-bottom: 25px;
      }

      &.half-width {
        width: 50%;
      }

      &.has-error {

        input,
        select,
        textarea {
          border: 1px solid $error-color;
        }

        label {
          color: $error-color;
        }

        .floating-label {
          color: $error-color;
        }
      }

      label {
        font-weight: bold;
        font-size: 14px;
      }

      input,
      select,
      textarea {
        font-family: $font-type-2;
        font-size: 16px;
        line-height: 1em;
        width: 100%;
        padding: 14px 15px;
        color: #333;
        border: 1px solid #ccc;
        border-radius: 0;
      }

      textarea {
        height: 200px;
      }

      .floating-label {
        font-size: 15px;
        display: inline-block;
        padding: 2px 6px;
        line-height: 1em;
        pointer-events: none;
        color: black;

        position: absolute;
        left: 11px;
        top: 16px;
        transition: 0.2s ease all;
        background: black;

      }

      input:focus~.floating-label,
      select:focus~.floating-label,
      textarea:focus~.floating-label,
      input:not(:focus):valid~.floating-label,
      select:not(:focus):valid~.floating-label,
      textarea:not(:focus):valid~.floating-label {
        top: -7px;
        transform: translateY(0);
        font-size: 13px;
      }
    }
  }

  .form-action {
    margin-top: 45px;
  }
}

.common-remove-tab-style {
  border-bottom: 0;

  li {
    a {
      padding: 0;
      background-color: transparent;
      border: 0;

      &:focus,
      &:hover {
        background-color: transparent;
        border: 0;
      }
    }

    &.active {
      a {
        background-color: transparent;
        border: 0;

        &:focus,
        &:hover {
          background-color: transparent;
          border: 0;
        }
      }
    }
  }
}

.common-back-top {
  z-index: 21;
  position: fixed;
  bottom: 20px;
  right: 50px;
  border-radius: 50%;
  background: rgba(110, 193, 228, 0.6);

  a {
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

    i {
      font-size: 20px;
      color: #fff;
    }
  }
}

/*------------------------------------ Components Ends ------------------------------------*/

/*---------------------------------- Slick Slider Starts ----------------------------------*/
.common-banner-section .banner-slider .banner-item:not(:first-of-type) {
  // display: none;
}

.common-banner-section .banner-slider.slick-initialized .banner-item {
  // display: block;
}


.slick-slider {

  .slick-prev,
  .slick-next {
    z-index: 1;
    height: 45px;
    width: 32px;

    &:after {
      content: '';
      height: inherit;
      width: inherit;
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      margin: auto;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    &:before {
      display: none;
    }
  }

  .slick-prev {
    left: 20px;

    &:after {
      background-image: url('../img/icons/left-arrow.svg');
    }
  }

  .slick-next {
    right: 20px;

    &:after {
      background-image: url('../img/icons/right-arrow.svg');
    }
  }

  .slick-dots {
    li {
      height: 13px;
      width: 13px;
      border-radius: 100%;
      margin: 0;
      background-color: rgba(255, 255, 255, 0.45);

      &.slick-active {
        background-color: #fff;
      }

      &:not(:last-of-type) {
        margin-right: 18px;
      }

      button {
        height: 13px;
        width: 13px;
        padding: 0;
        opacity: 0;
      }
    }
  }

  &.slick-dotted {
    margin-bottom: 0;

    .slick-dots {
      bottom: 50px;
    }
  }

  .slick-slide {

    img {
      width: 100%;
    }
  }
}

/*----------------------------------- Slick Slider Ends -----------------------------------*/

/*-------------------------------------- Modal Starts -------------------------------------*/
.modal {
  .modal-dialog {
    max-width: 650px;
    margin: 70px auto;

    .modal-header {
      padding: 0;
      border: 0;

      button {

        z-index: 1;
        height: 40px;
        width: 36px;
        margin: 0;
        padding: 0;
        color: #fff;
        opacity: 1;
        outline: none;
        position: absolute;
        top: 0;
        right: 0;

        i {
          color: black;
          font-size: 13px;
        }
      }
    }

    .modal-content {
      background: #fff;
      border-radius: 0;

      .modal-body {
        padding: 30px 26px;

        .modal-loading-gif {
          height: 130px;
          position: relative;

          img {
            width: 30px;
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            top: 50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
          }
        }

        .modal-loading-area {
          .title {
            margin-bottom: 30px;
          }
        }
      }
    }
  }
}

/*--------------------------------------- Modal Ends --------------------------------------*/


/*------------------------------------ Animation Starts -----------------------------------*/
@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 0.9;
    transform: translateY(0);
  }
}

/*------------------------------------- Animation Ends ------------------------------------*/